@media only screen and (min-width: 600px) {
  .add-form > * {
    margin-bottom: 1em;
  }

  .add-form > h3 {
    font-size: 1.25rem;
    color: #888;
    font-family: 'Montserrat', sans-serif;
  }

  .form-inputs {
    display: flex;
  }

  .form-inputs > * {
    padding: 0.8em;
    border-radius: 0.5em;
    border: 1px solid #e8e8e8;
  }

  .form-inputs :first-child {
    width: 50%;
  }

  .form-inputs :not(:first-child) {
    width: 20%;
    margin-left: auto;
  }
}
