.main-title {
  color: hsl(206, 100%, 50%);
  font-weight: 700;
  font-size: 1.875rem;
}

.navbar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  text-align: center;
  gap: 1em;
  padding: 1em;
}

.navbar-data {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1em;
}

.navBar-link {
  cursor: pointer;
  color: #929292c1;
  text-decoration: none;
}

.navBar-link:focus {
  color: black;
}

.selected {
  color: black;
}

.user-button {
  display: none;
}

@media only screen and (min-width: 1150px) {
  .navbar-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    margin: 3em 3em 0 3em;
    padding: 2em;
    border-bottom: 1px solid #e8e8e8;
  }

  .navbar-data {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 3em;
  }

  .user-button {
    display: block;
    border-radius: 20px;
    outline: none;
    border: 1px solid #bbb;
    padding: 0.1em;
    margin-right: 1em;
  }
}
