.remove-book {
  padding: 1em;
  margin-top: 0.7em;
}

.remove-book:hover {
  color: white;
  background-color: black;
}

@media only screen and (min-width: 1150px) {
  .remove-book {
    width: 60%;
  }
}
