:root {
  --ff-primary: 'Montserrat', sans-serif;
  --ff-secondary: 'Roboto', sans-serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: var(--ff-secondary);
  list-style: none;
}

button,
input[type=button] {
  cursor: pointer;
  background-color: hsl(206, 100%, 50%);
  color: white;
  border: none;
  border-radius: 0.5em;
  padding: 0.6em;
}

body {
  background-color: #f5f6fa;
}

.App {
  display: flex;
  flex-direction: column;
}

.App > * {
  border: 1px solid rgba(128, 128, 128, 0.112);
}
